.caixaCadastro{
    width: 40%;
    margin: auto;
    text-align: center;
    margin-top: 100px;
}

.caixaCadastro h1{
    margin-top: 25px;
    font-size:60px;
    color: #FF914D;
    
}

p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    margin-left: 15px;
    margin-top: 5%;
}

.inputsCadastro{
    width: 262px;
    height: 39px;
    border-radius: 20px;
    border: 0.5px solid #D9D9D9;
    background: #FFF;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
}

.caixaInformacao{
    margin-top: 50px;
}
.botaoCadastro{
    width: 100px;
    height:50px;
    border-radius: 20px;
    border: 1px solid #D9D9D9;
    cursor: pointer;
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
}
