*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    width: 100px;
    height: 100px;
    background-image: url("../../Documentação/Imagens/Japanfeedlogo.png");
    background-size: contain;
    border-radius: 50%;
    margin: 5px;
}

.logobox{

    position: absolute;
    left:0;
}

header{
    height: 140px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: #F3F3F3;
}
header li{
    margin-top: 20px;
    display: inline-flex;
    
}

header a{
    color: black;
    text-decoration: none;
}

.h3Header{
    border-radius: 10px;
    border: 1px solid #FF914D;
    width: 100px;
    text-align: center;
    height: 24px;
    cursor: pointer;
    padding: 5px;
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
    position: absolute;
    right: 10px;
}

.h3Header:hover{
    background-color: #FF914D;
}

.divlista{
    right: 0;
    position: absolute;
}

footer{
    height: 150px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: #f3f3f3;
    margin-top: 20%;   
}

.tudo{
    z-index: 10;
    color: #fff;
    display: flex;
    justify-content:space-around;
    text-align:center;

}

.icone{
    width: 70px;
    height: 70px;
    padding: 10px;
}

body{
    background-color: #F6C4A6;
}
